* {
    box-sizing: border-box;
    
}

h1 {
   text-align: center;
   width: 596px;
   height: 100px;
   color: pink;
   position: relative;
   left: 200px;
   margin-top: 201px;
   padding-bottom: 300px;
   padding-top: 228px;
   border: solid 20px; 
  

}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 173px;
    left: -278px;

}