* {
    box-sizing: border-box;
    background-image: url ("https://images.unsplash.com/photo-1496483648148-47c686dc86a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=529539dbb9e05b931a8f04013727f493&w=1000&q=80");
}

h1 {
   text-align: center;
   width: 596px;
   height: 100px;
   color: pink;
   position: relative;
   left: 200px;
   margin-top: 201px;
   padding-bottom: 300px;
   padding-top: 228px;
   border: solid 20px; 
  

}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 173px;
    left: -278px;

}